# Welcome to Jekyll!
#
# Configuration file for your Academic Pages site.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Michael Shibu"
title_separator          : "-"
name                     : &name "Michael Shibu"
description              : &description "Michael Shibu's academic portfolio"
url                      : "https://michaelshibu101-sketch.github.io/"
baseurl                  : ""
repository               : "michaelshibu101-sketch/michaelshibu101-sketch.github.io"

# Site Author
author:
  avatar           : "images/pfp.jpg"
  name             : "Michael Shibu"
  pronouns         : "he/him"
  bio              : "Computer Science student | Aspiring Software Engineer"
  location         : "Houston, TX"
  employer         : "University of Houston"
  email            : "mshibu@cougarnet.uh.edu"

  # Academic websites (leave blank if none)
  googlescholar    : "https://scholar.google.com/citations?user=PS_CX0AAAAAJ"
  orcid            : "https://orcid.org/yourorcidurl"
  pubmed           : "https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow"
  github           : "michaelshibu101-sketch"
  linkedin         : "https://www.linkedin.com/in/michael-shibu-9a3761340/"

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

# Comments (disabled for assignment)
comments:
  provider               : false

# Analytics
analytics:
  provider               : "google-analytics-4"
  google:
    tracking_id          : "G-71QGYYW3N9"   # your GA4 ID

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Dockerfile
  - Gemfile
  - node_modules
keep_files:
  - .git

# Markdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: false
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: false
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comments: false
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true
      comments: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Output
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
