# Welcome to Jekyll!
#
# Config file for site-wide settings

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Michael Shibu"
title_separator          : "-"
name                     : &name "Michael Shibu"
description              : &description "Michael Shibu's academic portfolio"
url                      : "https://michaelshibu101-sketch.github.io/"
baseurl                  : ""
repository               : "michaelshibu101-sketch/michaelshibu101-sketch.github.io"

# Site Author
author:
  avatar           : "images/profile.png"
  name             : "Michael Shibu"
  pronouns         : "he/him"
  bio              : "Computer Science student | Aspiring Software Engineer"
  location         : "Houston, TX"
  employer         : "University of Houston"
  uri              : 
  email            : "mshibu@cougarnet.uh.edu"

  # Academic websites
  academia         : 
  arxiv            : 
  googlescholar    : "https://scholar.google.com/citations?user=PS_CX0AAAAAJ"
  inspire-hep      : 
  impactstory      : 
  orcid            : "https://orcid.org/yourorcidurl"
  semantic         : 
  ssrn             : 
  pubmed           : "https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow"
  researchgate     : 
  scopus           : 
  zotero           : 

  # Repositories and software development
  bitbucket        : 
  codepen          : 
  dribbble         : 
  github           : "michaelshibu101-sketch"
  kaggle           : 
  stackoverflow    : 

  # Social media
  linkedin         : "https://www.linkedin.com/in/michael-shibu-9a3761340/"
  twitter          : ""  
  instagram        : ""  
  facebook         : ""  

# Publication Category
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser                   :  
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

# Comments (disabled for simplicity)
comments:
  provider               : false

# Analytics
analytics:
  provider               : "google-analytics-4"
  google:
    tracking_id          : "G-71QGYYW3N9"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor

keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
